html{
    background-color: #000000bd;
}

header {
    background-color: #303030;
    border-radius:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin-left: 35%;
    margin-right: 35%; */
}

img.logo{
    width: 250px;
    display: block;
    margin: 0px auto;
    padding-bottom: 20px;
    padding-top: 20px;
   }

   footer h1 a{
       text-align: right;
       text-decoration: none;
       background-color: #080808d1;
       padding: 10px 15px;
       border-radius: 10px;
       color: #fff;
       display: list-item;
       padding-right: 2%;
   }

   .conejo{
    width: 25%;
    border-radius: 25%;
    margin-top: 5%;
    margin: 2%;
    border: 8px solid #ad480d91;
    transition: transform .5s;
    }

   .conejo:hover{
       transform: scale(1.5);
   }

   .titulo{
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
    color: #fff;
    font-size: 400%;
    font-family: 'racing';
   }









   @font-face {
    font-family: racing;
    src: url(fonts/Chunkfive\ Ex.ttf);
}
