html{
    background-color: #080808d1;
}

header {
    background-color: #303030;
    border-radius:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin-left: 35%;
    margin-right: 35%; */
}

img.logo{
    width: 250px;
    display: block;
    margin: 0px auto;
    padding-bottom: 20px;
    padding-top: 20px;
   }

   .container{
    margin-top: 2%;
    padding: 5%;
    background-image: url(fondo2.jpg);
    border-radius: 55px;
   }

   .quien {
    border-radius: 5%;
    background-color: #080808d1;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'racing';
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
    font-size: 35px;
    color: #fff;
    text-align: center;
   }

   .quienes {
    margin:auto;
   }

   #hea {
       font-size: 25px;
       padding: 0px;
       float: left;
       width: 350px;
       font-family: 'racing';
   }
   #hea2 {
       margin-right: 2%;
        font-size: 25px;
        padding: 0px;
        float: right;
        width: 350px;
        font-family: 'racing';
}

   ul, ol{
       list-style: none;
   }

   .nav li a {
       border-radius: 5px;
       background-color: #080808d1;
       text-decoration: none;
       color:#fff;
       padding: 10px 15px;
       display: block;
   }

   .nav li a:hover {
    background-color: #f5adb5;
    opacity: 0.8px;
   }

   .nav li ul {
       display: none;
       position: absolute;
       min-height: 140px;
    }

    .nav li:hover > ul {
        display: block;
    }

    .nav2{
        margin-top: 60%;
    }

    .container2 h1{
        -webkit-text-stroke: black;
        -webkit-text-stroke-width: 1px;
        font-family: 'racing';
        text-align: center;
        font-size: 50px;
        color: #fff;
        margin-top: 5%;
    }

    img.nuestrosProductos {
        width: 300px;
        border-radius: 50px;
        float: left;
        margin-left: 15%;
    }

    img.nuestrosProductos2 {
        width: 300px;
        border-radius: 50px;
        float: right;
        margin-right: 15%;
    }

    img.nuestrosProductos3 {
        width: 300px;
        border-radius: 50px;
    }

    img.nuestrosProductos4 {
        width: 300px;
        border-radius: 50px;
        float: left;
        margin-left: 30%;
    }

    img.nuestrosProductos5 {
        width: 300px;
        border-radius: 50px;
        float: right;
        margin-right: 30%;
    }

    .derecha{
        padding: 0px 0px;
        float: right;
        font-family:'racing';
        width: 340px;
    }

    .nav3 li a {
        border-radius: 10px;
        background-color: #080808d1;
        text-decoration: none;
        color:#fff;
        padding: 10px 15px;
        display: block;
        font-size: 25px;
        margin-left: -15px;
    }
 
    .nav3 li a:hover {
     background-color: #f5adb5;
     opacity: 0.8px;
    }
 
    .nav3 li ul {
        display: none;
        position: absolute;
        min-height: 140px;
     }
 
     .nav3 li:hover > ul {
         display: block;
     }

     .nav3{
        padding-left: 5%;
     }

     .whatsapp{
        width: 20%;
        text-align: center; 
     }

     .mail {
        text-decoration: none;
        color: #fff;
        background-color: black;
        border-radius: 8px;
        padding: 10px;
     }

     .logos {
        margin-top: 65%;
     }

     .mailLogo{
        width: 15%;
     }

     .blog{
        text-decoration: none;
        background-color: #080808d1;
        padding: 11px 15px;
        font-size: 25px;
        display: inline-block;
        border-radius: 10px;
        color: #fff;
        display: list-item;

       }


    















   @font-face {
    

    font-family: roboto;
    
    src: url(fonts/Roboto-Medium.ttf);
    
    }

    @font-face {
        font-family: racing;
        src: url(fonts/Chunkfive\ Ex.ttf);
    }